### Importing Packages

In [150]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import pandas as pd

Website URL for scraping

In [151]:
url='https://techolution.app.param.ai/jobs'

Selenium webdriver is used for connecting with browser

In [152]:
driver = webdriver.Chrome()
driver.get(url)

Parse the page into BeautifulSoup format using BeautifulSoup

In [166]:
soup=BeautifulSoup(driver.page_source, 'html.parser')
#soup

**Extracted Job role using class label and tag where role is declared and i added those roles into List for this i used find_all method**

In [154]:
role=soup.find_all('h3',attrs={'class':'job_name text-ellipsis'})
role_name=[]
for r in role:
    role_name.append(r.get_text())

*After i eliminated the separater of job_type, location and experience using decompose method for sepating those 3*

In [155]:
for span in soup.find_all('span',attrs={'class':"description-fields-separator"}):
    span.decompose()

**After elimation of separator i extracted those 3 items in list**

In [156]:
des=soup.find_all('p',attrs={'data-v-5b44ba93':""})

In [157]:
desc=[]
for d in des:
    di=d.find_all('span',attrs={'data-v-5b44ba93':""})
    for de in di:
        desc.append(de.get_text().strip())
l=len(desc)

**The list contains jobtype, location and experience of each role in sequence after i separated those 3 using list operations by finding the length of list first one is jobtype second is location and third is experience remaining list items goes through the same sequence**

In [158]:
jobtype=desc[0:l:3]
location=desc[1:l:3]
experience=desc[2:l:3]
#len(experience)
#len(location)
#len(jobtype)

27

**Extracted job posted period using class label and span tag by applying find_all method**

In [159]:
days=soup.find_all('span',attrs={'class':'date_posted'})
period=[]
for day in days:
    period.append(day.get_text())

**After extracting all Data i combined into Data Frame using Pandas**

In [160]:
df = pd.DataFrame({'Role_name':role_name,'Job_type':jobtype,'Location':location,'Experience':experience,'Posted':period})

In [161]:
df

,Role_name,Job_type,Location,Experience,Posted
0,Magento Developer,Full-time,Hyderabad,2 - 8 Years,3 hours ago
1,Python Developer,Full-time,Hyderabad,1 - 3 Years,9 days ago
2,Computer Vision Engineer / Machine Learning En...,Internship,Hyderabad,0 - 1 Years,10 days ago
3,Cloud Native Developer,Full-time,Hyderabad,2 - 5 Years,a month ago
4,Data Scientist Intern,Internship,Hyderabad,0 - 4 Years,a month ago
5,Embedded Engineer,Full-time,Hyderabad,2 - 4 Years,a month ago
6,System Engineer,Internship,Mauritius,0 - 1 Years,a month ago
7,Associate QA Engineer,Full-time,Hyderabad,1 - 3 Years,a month ago
8,Full Stack Developer,Full-time,Hyderabad,4 - 9 Years,2 months ago
9,Android Mobile Developer,Full-time,mauritius,3 - 8 Years,2 months ago
10,iOS Developer,Full-time,Hyderabad,3 - 10 Years,2 months ago
11,Associate Cloud Engineer,Full-time,Hyderabad,0 - 3 Years,2 months ago
12,Sr Full Stack Developer,Full-time,Mauritius,3 - 8 Years,2 months ago
13,Blockchain Developer,Full-time,Hyderabad,1 - 4 Years,2 months ago
14,Junior Cloud Native Developer,Full-time,Delaware,1 - 2 Years,2 months ago
15,Lead DevOps Engineer,Full-time,Hyderabad,5 - 11 Years,2 months ago
16,Site Reliability Engineer,Full-time,New York,1 - 3 Years,2 months ago
17,OSS DevOps Engineer,Full-time,Hyderabad,6 - 12 Years,3 months ago
18,Sr SDET,Full-time,New York,3 - 10 Years,3 months ago
19,DevOps Architect,Full-time,Hyderabad,5 - 15 Years,3 months ago
20,Engineering Lead,Full-time,mauritius,7 - 18 Years,3 months ago
21,Social Media Intern,Internship,Hyderabad,0 Years,4 hours ago
22,Project Manager,Full-time,Hyderabad,2 - 5 Years,13 days ago
23,Talent Acquisition Specialist,Full-time,Hyderabad,1 - 5 Years,13 days ago
24,Sr.QA Engineer,Full-time,Hyderabad,3 - 5 Years,18 days ago
25,HR and Community Specialist,Full-time,New York,0 - 3 Years,3 months ago
26,Machine Learning Engineer,Full-time,Hyderabad,3 - 5 Years,3 months ago

In [167]:
df.to_csv('Techoultion.csv')